<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.aorms">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".HM_assignWaiterActivity" />
        <activity android:name=".HM_assigntableActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".AssignWaiterActivity" />
        <activity android:name=".ThresholdActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ChefListActivity"
            android:label="Chef List" />
        
        <activity
            android:name=".Report"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ChefQueActivity" />
        <activity android:name=".Addinventory" />
        <activity android:name=".Pakistani" />
        <activity android:name=".Chinese" />
        <activity android:name=".Continental" />
        <activity android:name=".AddMenu" />
        <activity android:name=".AddUser" />
        <activity android:name=".Login" />
        <activity android:name=".Adder" />
        <activity
            android:name=".HMSpecialOrderActivity"
            android:label="Hall Manager"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KM_Recycle_Page"
            android:label="Kitchen Manager"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HM_Recycle_Page"
            android:label="Hall Manager"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KMSpecialOrderActivity"
            android:label="Kitchen Manager"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HM_DishSelect"
            android:label="Hall Manager"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KM_DishSelect"
            android:label="Kitchen Manager"
            android:screenOrientation="landscape" />
    
        <activity android:name=".AddIngrediante"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>